nav {
    background-color: #003f2d; /* Cambia el color de fondo del Navbar */
    box-shadow: 0 20px 30px black; /* Sombra */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px; /* Agrega espacio interno al Navbar */
    text-align: center; /* Alinea el contenido al centro del Navbar */
    height: 35px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;  
  }
  
  button {
    background-color: rgb(71, 156, 100);; /* Cambia el color de fondo de los botones */
    color: white; /* Cambia el color del texto de los botones */
    width: 120px;
    padding: 5px 10px; /* Agrega espacio interno a los botones */
    margin: 5px; /* Agrega espacio entre los botones */
    border: none; /* Elimina el borde de los botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
    border-radius: 5px;
  }
  
  button:hover {
    background-color: white; /* Cambia el color de fondo al pasar el cursor sobre los botones */
    color: black;
  }